*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

.content{
  background: black;
  margin: auto;
  color: white;
  font-family: 'Gasoek One', sans-serif;
  
}

.huntinfo img{
  width: 79px;
  height: 58px;
 
}


