.main {
  position: absolute;
  top: 300px;
  left: 28%;
  margin-left: -230px;

}

.event2 {
  position: absolute;
  top: 300px;
  left: 72%;
  
}

*{
  box-sizing: border-box;
  
}


.event{
  width: 960px;
  display: flex;
  justify-content: space-between;
  background: black;
  height: 710px;
  
}

.event img {
  width: 960px;
  height: 600px;
}

.event2{
  width: 360px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  background: black;
}

.event2 img{
  width: 360px;
  height: 280px;
}





.main-news{
  position: absolute;
  top: 580px;
  left: 57.8%;
  width: 360px;
  height: 430px;
  margin-left: 270px;
  padding: 28px 20px;
  box-sizing: border-box;
  background: rgba(28,30,36,.9);
  font-size: 0;
  line-height: 0;
  color: white;
}

.main-news li{
  list-style: none;
  margin-top: 20px;
  margin-right: 50px;
}



.main-bg {
  height: 900px;
  background-size: cover;
  background-position: center;

}

.footer {
  background: black;
  height: 200px;
  display: flex;
}

.footer-menu {
  position: relative;
  float: right;
  width: 877px;
  margin: 0 0 3px;
  margin-right: 43px;
}

.footer-menu li {
  float: left;
  margin-top: 0;
  color: white;
  list-style: none;
  cursor: pointer;
}

.info {
  clear: none;
  float: right;
  width: 877px;
  margin: 0 10px 13px 0;
  font-size: 12px;
  font-style: normal;
  color: #949596;
}

.copy {
  background: black;
  float: right;
  width: 877px;
  font-size: 12px;
  color: #fff;
  margin-right: 11px;
}

.all {
  width: 1260px;
  margin: 0 auto;
  padding: 60px 88px 90px;
  box-sizing: border-box;
  padding-top: 20px;
}

.all img {
  cursor: pointer;
}