*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel1 {
  width: 475px;
  display: flex;
  justify-content: space-between;
  background: black;
  
}

.carousel1 img {
  width: 476px;
  background: black;
}

.hunt  {
 background: black;
}

.ma{
  background: black;
}

.mo {
  background: black;
}

.wor{
  background: black;
}
